html, body {
  min-block-size: 100vh;
  background-color: red;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#main {
  flex: 1;
  background-color: yellow;
  display: flex;
}