#changelist-filter {
  margin: 20px 0;
}

#changelist-filter form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.autocomplete-skeleton-container {
  display: none;
}
.htmx-request .autocomplete-skeleton-container{
  display: block;
}
.htmx-request.autocomplete-skeleton-container{
  display: block;
}
.autocomplete-skeleton-container > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-xxsmall);
}
.autocomplete-skeleton {
  width: '100%';
  height: 24px;
}

@media (max-width: 1200px) {
  #changelist-filter form {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  #changelist-filter form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #changelist-filter form {
    grid-template-columns: repeat(1, 1fr);
  }
}

.htmx-indicator{
  display:none;
}
.htmx-request .htmx-indicator{
  display:inline;
}
.htmx-request.htmx-indicator{
  display:inline;
}
