.login #header, .login #footer {
  display: none;
}
.login > .main > main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
.login > .main > main > .container-fluid > #content > .title-block {
  display: none;
}
.login > .main > main > .container-fluid > #content-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.login > .main > main > .container-fluid > #content > #content-row #content-main {
  min-block-size: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.login #login-block {
  width: 40%;
  padding: 0 var(--spacing-xxxlarge);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login #login-block #login-content {
  max-width: 350px;
  width: 100%;
}
.login #brand-block {
  flex: 1;
  background-color: var(--color-primary-500);
  padding: var(--spacing-giant);
  overflow: hidden;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
}
.login #brand-block .brand-block-credits {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: var(--color-white);
  padding: var(--spacing-xsmall);
  background: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius-medium) 0 0 0;
}

.logged-out-text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-xxxlarge);
}
.logged-out-text .logged-out-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 768px) {
  .login #login-block {
    width: 100%;
    align-items: stretch;
  }
  .login #brand-block {
    display: none;
  }
}
@media (max-width: 768px) {
  .login #login-block {
    padding: 0 var(--spacing-small);
  }
}
