{% load inventare_ds %}

{% with prefix=fieldset.formset.prefix|default:"fieldset" id_prefix=id_prefix|default:"0" id_suffix=id_suffix|default:"0" name=fieldset.name|default:""|slugify %}
  <fieldset class="module aligned card {{ fieldset.classes }}"{% if name %} aria-labelledby="{{ prefix }}-{{ id_prefix}}-{{ name }}-{{ id_suffix }}-heading"{% endif %}>
    {% if name %}
      {% if fieldset.is_collapsible %}<details><summary>{% endif %}
      <div class="card-title">
        <h{{ heading_level|default:2 }} id="{{ prefix }}-{{ id_prefix}}-{{ name }}-{{ id_suffix }}-heading" class="fieldset-heading">{{ fieldset.name }}</h{{ heading_level|default:2 }}>
      </div>
      {% if fieldset.is_collapsible %}</summary>{% endif %}
    {% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    <div class="card-body">
      {% for line in fieldset %}
          <div class="form-row {% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
              {% for field in line %}
                <div>
                  {% if not line.fields|length == 1 and not field.is_readonly %}{% endif %}
                      <div class="flex-container{% if not line.fields|length == 1 %} fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% endif %}{% if field.is_checkbox %} checkbox-row{% endif %}">
                          
                        <div class="form-control {% if field.errors %} invalid{% endif %}">
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                              {{ field.label_tag }}
                              {% if field.is_readonly %}
                                  <div class="readonly">{{ field.contents }}</div>
                              {% else %}
                                  {{ field.field }}
                              {% endif %}
                            {% endif %}
                            {% if field.field.help_text or field.errors %}
                              <div class="helper-text"{% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                                {% if field.errors %}
                                  {% get_error_message field %}
                                {% else %}
                                  {{ field.field.help_text|safe }}
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                      </div>
                  </div>
              {% endfor %}
              {% if not line.fields|length == 1 %}</div>{% endif %}
          </div>
      {% endfor %}
    </div>
    {% if name and fieldset.is_collapsible %}</details>{% endif %}
  </fieldset>
{% endwith %}
