{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
  {% block nav-breadcrumbs %}
    <nav aria-label="{% translate 'Breadcrumbs' %}">
      <div class="breadcrumb">
        <span class="breadcrumb-item">
          <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        </span>
        {% for app in app_list %}
          <span class="breadcrumb-item active">
            <a>{{ app.name }}</a>
          </span>
        {% endfor %}
      </div>
    </nav>
  {% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
