{% load i18n phosphoricons %}

{% if app_list %}
  {% for app in app_list %}
    <div class="app-list app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
      <h2 class="h4">{{ app.name }}</h2>

      <div class="shortcuts" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px;">
        {% for model in app.models %}
          <div class="card iconed">
            <div class="card-inner">
              <div class="card-title">
                <p>{{ model.name }}</p>
              </div>
              <div class="card-footer">
                <a href="{{ model.admin_url }}" class="btn primary">
                  {% blocktranslate with model_name=model.name %}See {{model_name}}{% endblocktranslate %}
                </a>
              </div>
            </div>
            <div class="card-icon-container">
              {% with model_name=model.object_name|lower %}
                {% model_icon_tag app.app_label model.object_name %}
              {% endwith %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}