{% load admin_list %}

<div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
  <div class="changelist-form-container">
    <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      {% result_list cl %}
      {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}

      {% block pagination %}{% pagination cl %}{% endblock %}

      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}
    </form>
  </div>
</div>
