{% extends "admin/base_site.html" %}
{% load i18n static phosphoricons %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
  <div id="content-related">
    <div class="card" id="recent-actions">
      <div>
        {% phosphor 'archive' 'ph-bold' %}
        <h2 class="card-title">
          {% translate 'My recent actions' %}
        </h2>
        <a href="#" class="btn primary outline">{% translate 'Show all' %}</a>
      </div>
      <div class="card-body">
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
          <p>{% translate 'None available' %}</p>
        {% else %}
          <ul class="actionlist">
            {% for entry in admin_log %}
              <li class="{% if entry.is_addition %}add{% elif entry.is_change %}edit{% elif entry.is_deletion %}delete{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                  <span class="action-entry">
                {% else %}
                  <a class="action-entry" href="{{ entry.get_admin_url }}">
                {% endif %}
                <span class="icon">
                  {% if entry.is_addition %}
                    {% phosphor 'plus' 'ph-bold' %}
                  {% elif entry.is_change %}
                    {% phosphor 'pencil-simple' 'ph-bold' %}
                  {% elif entry.is_deletion %}
                    {% phosphor 'trash-simple' 'ph-bold' %}
                  {% endif %}
                </span>
                <span class="content-description">
                  <span class="fill-text">
                    {{ entry.object_repr }}
                  </span>
                  {% if entry.content_type %}
                    <div class="content-title">
                      <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                    </div>
                  {% endif %}
                </span>
                {% if entry.is_deletion or not entry.get_admin_url %}
                  </span>
                {% else %}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}