{% load i18n phosphoricons %}
<nav
  id="nav-sidebar"
  aria-label="{% translate 'Sidebar' %}"
  class="sidebar"
>
  <div class="sidebar-inner">
    <div class="branding" id="branding">
      {% block branding %}
      <div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
      {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
      {% endif %}
      {% endblock %}
    </div>

    {% include 'admin/nav_sidebar_app_list.html' with app_list=available_apps %}

    <div style="flex: 1;"></div>
    
    <span class="sidebar-label">{% translate 'Options' %}</span>

    <form id="logout-form" method="post" action="{% url 'admin:logout' %}" style="display: flex; flex-direction: column; align-items: stretch;">
      {% csrf_token %}
      <button type="submit" class="btn primary btn-sidebar">
        {% phosphor 'sign-out' 'sidebar-icon' %}
        <span class="hide-on-collapse">{% translate 'Log out' %}</span>
      </button>
    </form>
  </div>
</nav>
