{% load i18n %}
<nav
  id="nav-sidebar"
  aria-label="{% translate 'Sidebar' %}"
  class="sidebar"
>
  <button
    data-toggle="sidebar"
    data-target="#nav-sidebar"
    aria-expanded="true"
    aria-label="{% translate 'Toggle navigation' %}"
    class="sidebar-toggle"
  ></button>

  <div class="sidebar-inner">
    <div class="branding">
      
    </div>

    {% include 'admin/nav_sidebar_app_list.html' with app_list=available_apps %}

    <div style="flex: 1;"></div>

    <form id="logout-form" method="post" action="{% url 'admin:logout' %}" style="display: flex; flex-direction: column; align-items: stretch;">
      {% csrf_token %}
      <button type="submit" class="btn primary btn-sidebar">
        <span class="hide-on-collapse">{% translate 'Log out' %}</span>
      </button>
    </form>
  </div>
</nav>
