{% load i18n inventare_ds phosphoricons %}

<div style="display: flex; flex-direction: column; align-items: stretch;">
  {% url 'admin:index' as home_index %}
  {% is_on_admin_route home_index request as is_active %}
  <a href="{{ home_index }}" class="btn btn-sidebar primary {% if is_active %} active{% endif %}">
    {% phosphor 'squares-four' 'sidebar-icon' %}
    <span class="hide-on-collapse">{% translate 'Home' %}</span>
  </a>

  <span class="sidebar-label">{% translate 'Applications' %}</span>

  {% if app_list %}
    {% for app in app_list %}
      {% if app.models %}
        {% is_route_on_admin_app app request as is_admin_expanded %}
        <button
          type="button"
          class="btn btn-sidebar primary dropdown {% if is_admin_expanded %} active{% endif %}"
          data-toggle="collapse"
          data-target="#sidebar-{{ app.app_label }}"
          aria-expanded="{% if is_admin_expanded %}true{% else %}false{% endif %}"
        >
          {% app_icon_tag app.app_label %}
          <span class="hide-on-collapse text-truncate">{{ app.name }}</span>
        </button>
        <div id="sidebar-{{ app.app_label }}" class="collapse {% if is_admin_expanded %}show{% endif %}">
          <div style="display: flex; flex-direction: column; align-items: stretch;">
            {% for model in app.models %}
              {% is_route_on_admin_model model request as is_active %}
              <a
                href="{{ model.admin_url }}"
                class="btn btn-sidebar primary child {% if forloop.first %}start{% endif %} {% if forloop.last %}end{% endif %} {% if is_active %}active{% endif %}"
              >
                {{ model.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
