{% load inventare_ds %}
<div class="form-control">
  <div
    class="select-container"
    id="{{ spec.lookup_kwarg }}"
    hx-post="./table/"
    hx-target="#changelist"
    hx-swap="outerHTML"
    hx-trigger="selected"
    hx-indicator="#changelist-indicator"
  >
    <input
      class="default-control"
      type="hidden"
      name="{{ spec.lookup_kwarg }}"
      value="{% if not spec.lookup_val2 %}{% if spec.lookup_val %}{{ spec.lookup_val }}{% endif %}{% else %}null{% endif %}"
    />

    <div class="select input" role="combobox" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-disabled="false" aria-controls="select-display">
      <span class="select-value" role="textbox" aria-readonly="true" id="select-display">
        {% get_active_display choices %}
      </span>
      <button type="button" class="dropdown-button" role="presentation">
        <i class="icon-caret-down arrow" role="presentation"></i>
      </button>
    </div>

    <div class="select-dropdown">
      <div class="select-dropdown-inner">
        {% for choice in choices %}
          <button
            data-value="{{ choice.value }}"
            class="select-item {% if choice.selected %}active{% endif %}"
            type="button"
            {% if choice.inline_display %} data-display="{{ choice.inline_display }}"{% endif %}
          >
            {{ choice.display }}
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
