{% load i18n inventare_ds %}
<div class="form-control">
  {{spec.field_path}}
  <div
    class="select-container select-fixed-fit"
    id="{{ spec.lookup_kwarg }}"
  >
    <input
      class="default-control"
      type="hidden"
      name="{{ spec.lookup_kwarg }}"
      value="{% if not spec.lookup_val2 %}{% if spec.lookup_val %}{{ spec.lookup_val }}{% endif %}{% else %}null{% endif %}"
    />

    <div
      class="select input select-filter-style"
      role="combobox"
      tabindex="0"
      aria-haspopup="true"
      aria-expanded="false"
      aria-disabled="false"
      aria-controls="select-display"
    >
      <span class="select-label">{{ spec.title }}</span>
      <span class="select-value" role="textbox" aria-readonly="true" id="select-display">{% get_active_display choices %}</span>
      <button type="button" class="dropdown-button" role="presentation">
        <i class="icon-caret-right arrow" role="presentation"></i>
      </button>
    </div>

    <div
      class="select-dropdown select-dropdown-fixed-fit"
      hx-get="{% url 'admin:htmx-autocomplete' %}?app_label={{ spec.model_admin.opts.app_label }}&model_name={{ spec.model_admin.opts.model_name }}&field_name={{ spec.field_path }}"
      hx-trigger="opened"
      hx-target="#{{ spec.lookup_kwarg }}_ddinner"
      hx-indicator="#{{ spec.lookup_kwarg }}_ddinner .htmx-indicator"
      hx-swap="innerHTML"
    >
      <div class="select-dropdown-inner">
        <header>
          <button type="button" class="close-button">
            <i class="icon-caret-left"></i>
            {{ spec.title }}
          </button>
        </header>

        <div class="select-dropdown-search">
          <input
            type="text"
            placeholder="{% translate 'Search...' %}"
            name="term"
            hx-get="{% url 'admin:htmx-autocomplete' %}?app_label={{ spec.model_admin.opts.app_label }}&model_name={{ spec.model_admin.opts.model_name }}&field_name={{ spec.field_path }}"
            hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
            hx-target="#{{ spec.lookup_kwarg }}_ddinner"
            hx-indicator="#{{ spec.lookup_kwarg }}_ddinner .htmx-indicator"
            form="termFakeForm"
          >
        </div>
        <div class="select-dropdown-items" id="{{ spec.lookup_kwarg }}_ddinner">
          {% include 'admin/autocomplete/autocomplete_indicator.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
