{% load inventare_ds %}
<div class="form-control">
  <div
    class="select-container"
    id="{{ spec.lookup_kwarg }}"
    hx-post="./table/"
    hx-target="#changelist"
    hx-swap="outerHTML"
    hx-trigger="selected"
    hx-indicator="#changelist-indicator"
  >
    <input
      class="default-control"
      type="hidden"
      name="{{ spec.lookup_kwarg }}"
      value="{% if not spec.lookup_val2 %}{% if spec.lookup_val %}{{ spec.lookup_val }}{% endif %}{% else %}null{% endif %}"
    />

    <div class="select input" role="combobox" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-disabled="false" aria-controls="select-display">
      <span class="select-value" role="textbox" aria-readonly="true" id="select-display">{% get_active_display choices %}</span>
      <button type="button" class="dropdown-button" role="presentation">
        <i class="icon-caret-down arrow" role="presentation"></i>
      </button>
    </div>

    <div
      class="select-dropdown"
      hx-get="{% url 'admin:htmx-autocomplete' %}?app_label={{ spec.model_admin.opts.app_label }}&model_name={{ spec.model_admin.opts.model_name }}&field_name={{ spec.field.name }}"
      hx-trigger="opened"
      hx-target="#{{ spec.lookup_kwarg }}_ddinner"
      hx-swap="innerHTML"
    >
      <div class="select-dropdown-inner" id="{{ spec.lookup_kwarg }}_ddinner">

      </div>
    </div>
  </div>
</div>
